{% extends 'base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="imagem__imagem" src="{{fotografia.foto.url}}">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{fotografia.nome}}</p>
                                <p class="imagem__descricao">{{fotografia.descricao}}</p>
                                <p class="imagem__texto">FONTE: {{fotografia.legenda}}</p>
                            </div>
                           
                        </div>
                        {%if autor %}
                        <div>
                            <a href="{% url 'editar-imagem' fotografia.id %}"> <button class="btn btn-success col-3" style="padding: top 5px;">Editar</button></a>
                            <a href="{% url 'delete-imagem' fotografia.id %}"> <button class="btn btn-danger col-3" style="padding: top 10px;">deletar</button></a>
                        </div>
                        {% endif %}
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}