{% extends "global/base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock title %}

{% block main %}    
        {% include 'receitas/partials/messages.html' %}
        <div class="main-content main-content-list container">
            {% if receitas %}
            {% for receita in receitas %}
                {% include 'receitas/partials/receita.html' %}
            {% endfor %}
            {% else %}
                <h1>Não existe receitas 🥲</h1>
            {% endif %}
        </div>  
{% endblock %}

