{% extends "global/base.html" %}
{% load static %}

{% block head %} 
   <link rel="stylesheet" href="{% static 'siga/assets/css/estilo-siga.css'%}">
{% endblock %}
{% block css %}
  
{% endblock %}

{% block title %}Página Inicial{% endblock %}


{%block nav  %}
   <h1>SIGA - SISTEMA DE GESTÃO ACADÊMICA</h1>
{% endblock %}


{% block main %}
<section>
   <section class="login-box">
      <header class="header-login">
         <img src="{% static 'global/assets/img/logo.png' %}" alt="">
         
      </header>
      <hr>
      <form method="POST"  action="{% url 'siga:login' %}">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
        {{ form.username }}
  
        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        {{ form.password }}
  
        <button type="submit">Login</button>
  
        {% if form.errors %}
          <p style="color: red;">Usuário ou senha inválidos.</p>
        {% endif %}
      </form>
    </section>

</section>
{% endblock%}  